@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E5E5;
}

* {
    box-sizing: border-box;
}

/* CABEÇALHO */
header {
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 2;

    cursor: pointer;
}

header>h1 {
    font-size: 37px;
    font-weight: bold;
    color: #FFFFFF;
}



/* TELA 1 */

/* PRINCIPAL */
main {
    height: 100%;
    margin-top: 150px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: yellowgreen; */
}


/* MEUS QUIZZES */

.container-meus {
    width: 100%;
}

.titulo-meus-quizzes {
    /* width: 100%; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.titulo-meus-quizzes>ion-icon {
    font-size: 30px;
    color: #EC362D;
}

.meus-quizes {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    border-radius: 10px;
    border: dotted #D4D4D4;
    /* background-color: green; */
}

.meus-quizes.cheio {
    width: 1050px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    border-radius: 10px;
    border: 0px;
    /* background-color: green; */
}

.meus-quizes>h2 {
    width: 200px;
    text-align: center;
    color: #B9B9B9;
    margin-bottom: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.meus-quizes>button {
    height: 40px;
    width: 150px;
    font-size: 15px;
    color: #EC362D;
    border: dotted #EC362D;
    border-radius: 50px;
    background-color: #E5E5E5;
    cursor: pointer;
}


/* TEXTO PARA TODOS OS QUIZZES */
main h3 {
    /* width: 100%; */
    margin: 10px 0;
    font-size: 20px;
    font-weight: bold;
    /* background-color: red; */
}


/* TODOS OS QUIZZES */

.quizes {
    width: 1050px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* background-color: blue; */
}

/* MODELO CAIXA DO QUIZ */
.caixa-quiz {
    height: 180px;
    width: 340px;
    margin-bottom: 15px;
    display: flex;
    align-items: flex-end;
    border-radius: 5px;
    background-size: cover;
    position: relative;
    cursor: pointer;
}

.caixa-quiz>img {
    height: 180px;
    width: 340px;
    border-radius: 5px;
    position: absolute;
    object-fit: cover;
}

.caixa-gradiente {
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 5px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0.0));
}

.caixa-quiz>h2 {
    margin: 40px;
    font-size: 19px;
    font-weight: 400;
    color: #FFFFFF;
    z-index: 1;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* TELA 2 */
.container-tela2 {

    height: 100%;
    margin-top: 150px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    /* meu commit n tava indo wtf */

}

.tela2 {
    width: 100%;
}

/* TELA 2 BANNER */
.banner-quizz {
    width: 100%;
    height: 226px;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 100px;
    margin-bottom: -80px;
}

.banner-quizz>h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 39px;

    position: absolute;

    color: #FFFFFF;

    opacity: 1;

    text-align: center;
    word-break: break-word;
}

.banner-quizz>img {
    width: 100%;
    height: 226px;

    object-fit: cover;
}

.banner-gradiente {
    width: 100%;
    height: 226px;
    position: absolute;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

/* TELA 2 CONTEUDO */

.caixa-questao {
    width: 760px;
    gap: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);

    padding: 24px;
    margin-bottom: 48px;
}

.caixa-pergunta {
    width: 712px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;

}


.caixa-pergunta>h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.caixa-principal-respostas {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    gap: 24px;
}

.branco {
    opacity: 0.4;
}

.vermelho {
    color: #FF4B4B !important;

}
.fundo-vermelho {
    background-color: #EC362D;
}
.verde {
    color: #009C22 !important;
}
.caixa-resposta>img {
    width: 330px;
    height: 175px;
    object-fit: cover;
}

.caixa-resposta>h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    width: 330px;
    margin-top: 8px;
    margin-bottom: 8px;
    word-break: break-word;

}

/* TELA 2 - FIM DE JOGO */
.caixa-fim-de-jogo {
    width: 760px;
    height: 430px;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);

    padding: 18px;
}

.caixa-nivel-acerto {
    width: 728px;
    height: 99px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.caixa-nivel-acerto>h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
}

.texto-fim-de-jogo {
    width: 728px;
    display: flex;
}

.texto-fim-de-jogo>img {
    width: 364px;
    height: 274px;
    object-fit: cover;
}

.texto-fim-de-jogo>h5 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;

    color: #484848;

    margin-left: 22px;
}

.reiniciar>button {
    width: 262px;
    height: 52px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;

    color: #FFF5F4;

    border-radius: 20px;
    background-color: #EC362C;
    border: 0;

    margin-top: 56px;
    margin-bottom: 30px;
    cursor: pointer;
}

.container-tela2>h6 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;

    text-align: center;

    color: #818181;

    margin-bottom: 84px;

    cursor: pointer;
}
.container-tela2>h6:hover {
    text-decoration: underline;
}





/* TELA 3 */

.orientacao {
    margin-bottom: 30px;
}

.orientacao>h4 {
    font-weight: bold;
    font-size: 23px;
}

.informacoes {
    width: 600px;
    padding: 20px 20px 0 20px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 10px;
}

.informacoes.vazio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 20px;
}

.informacoes.vazio>ion-icon{
    font-size: 30px;
}

.informacoes>input {
    height: 40px;
    border: solid 1px #D1D1D1;
    margin-bottom: 20px;
    border-radius: 5px;
}

input::placeholder {
    padding-left: 20px;
    color: #D1D1D1;
    font-style: italic;
    font-size: 15px;
}

.prosseguir>button {
    margin-top: 30px;
    height: 50px;
    font-size: 21px;
    color: #FFFFFF;
    padding: 0 40px;
    background-color: #EC362D;
    border-radius: 15px;
    border: 0px;
    cursor: pointer;
}

.caixa-quiz.criado {
    width: 500px;
    height: 270px;
}

.caixa-quiz.criado>img {
    width: 500px;
    height: 270px;
    border-radius: 5px;
    position: absolute;
    object-fit: cover;
}

.retornar-home {
    font-size: 21px;
    margin-top: 10px;
    border: 0;
    background-color: transparent;
    color: #818181;
    cursor: pointer;
}

.retornar-home:hover {
    text-decoration: underline;
}






/* FUNÇÕES IMPORTANTES */

.desativar {
    display: none  !important;
}

/* MOBILE - IPHONE 8 */

@media(max-width:1100px) {

    .tela1{
        width: 100%;
    }

    .tela3 {
        width: 100%;
        margin: 0;
    }

    main {
        width: 340px;
        margin: 120px 20px 50px 20px;
    }

    .quizes {
        width: 100%;
        display: flex;
        /* justify-content: center; */
        /* margin: 0 20px; */
    }

    .titulo-meus-quizzes {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .titulo-meus-quizzes>ion-icon {
        display: inline;
        font-size: 30px;
        color: #EC362D;
    }

    /* Tela 2 Mobile - Iphone 8 */

    .caixa-questao {
        width: 100%;
        margin-bottom: 28px;
    }

    .caixa-pergunta {
        width: 100%;
        height: 89px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .caixa-pergunta>h3 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 19px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #FFFFFF;

    }

    .caixa-principal-respostas {
        justify-content: space-between;
        gap: 0px;
    }

    .caixa-resposta {
        width: 48%;
    }

   

    .caixa-resposta>img {
        width: 100%;
    }

    .caixa-resposta>h4 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 15px;
        display: flex;
        align-items: center;

        height: 30px;
        color: #000000;
        margin: 0;
        width: 100%;
        margin-bottom: 8px;

    }

    /* TELA 2 - FIM DE JOGO */
    .caixa-fim-de-jogo {
        width: 100%;
        height: 500px;

        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;

        background-color: #FFFFFF;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);

        padding: 18px;
    }

    .caixa-nivel-acerto {
        width: 100%;
        height: 99px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .caixa-nivel-acerto>h3 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 19px;
        display: flex;
        align-items: center;
        text-align: center;

        color: #FFFFFF;
    }

    .texto-fim-de-jogo {
        width: 728px;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-content: space-around;
    }

    .texto-fim-de-jogo>img {
        width: 100%;
        height: 256px;
    }

    .texto-fim-de-jogo>h5 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 20px;
        display: flex;
        align-items: center;

        color: #484848;
        margin-top: 10px;
        margin-left: 0px;
    }

    .reiniciar>button {
        width: 221px;
        height: 44px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 21px;

        color: #FFF5F4;

        border-radius: 20px;
        background-color: #EC362C;
        border: 0;

        margin-top: 56px;
        margin-bottom: 30px;

    }


}

/* 
@media(max-width:745px) {
    /* .quizes {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0 20px;
    }

    .tela1{
        width: 100%;
    }

    .tela1{
        width: 100%;
    }

    .tela3 {
        width: 100%;
        margin: 0;
    }

    main {
        width: 100%;
        margin: 0;
        margin-top: 120px;
    }

    .informacoes {
        width: 100%;
        border-radius: 0;
    }

    .caixa-quiz.criado {
        width: 100%;
        margin: 0;
    }
    
    .caixa-quiz.criado>img {
        width: 100%;
        border-radius: 5px;
        position: absolute;
        object-fit: cover;
    }

    .caixa-quiz {
        width: 100%;

    }
    .caixa-quiz>img {
        width: 100%;
    }
} */